
.App {
  margin-top: 25vh;
  margin-left: 15vw;
  width: 70vw;
  height: 50vh;
  border: 2px solid;
  float: left;
  border-radius: 18px;  
}

div {
  padding-bottom: 10px;
  padding: 10px 10px;

}

.btn {
  margin-left: 10px;
}